
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column gap-2">
    <div class="row py-2">

        <div class="col-md-10 col-12">

            <div class="d-flex flex-column flex-md-row ">
                <div class="row ">
                    <div class="col-md-5 bg-white d-flex flex-column p-3  rounded-4" style="height: fit-content">

                        <div id="productImageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-fill mx-auto" src="~/Assets/vinamilk_banner.png" />
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-fill mx-auto" src="~/Assets/ad-banner2.png" />
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-fill mx-auto" src="https://th.bing.com/th/id/OIP.v9juJErpdNQgRY403jIucQHaJl?pid=ImgDet&rs=1" />
                                </div>
                            </div>
                            <button class="carousel-control-prev ms-4" type="button" data-bs-target="#productImageCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next me-4" type="button" data-bs-target="#productImageCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex flex-column p-0">
                        @*Tiêu đề*@
                        <div class=" bg-white ms-4 p-3 mb-2  rounded-4 d-flex flex-column  ">
                            <p class="cate-item">Thương hiệu : <span class="main-blue-color fw-bold">ABCXYZ</span> </p>

                            <p class="my-2 fw-bolder tiki-title fs-4 h-auto truncate-4">
                                Loa Bluetooth GUTEK C3 MINI Nghe Nhạc Cầm Tay Không Dây, Vỏ Nhôm Nghe Nhạc Hay, Âm Thanh Chất Lượng, Hỗ Trợ Kết Nối Bluetooth 4.0, Thẻ Nhớ, Đài FM, Usb, Nhiều Màu Sắc - Hàng Chính Hãng  Sắc - Hàng Chính Hãng  Sắc - Hàng Chính Hãng
                            </p>

                            <p class="fs-5 fw-bold ">Giá : <span class="fs-3 fw-bolder main-blue-color">119.998 <sup>₫</sup></span>  </p>
                        </div>

                        @*Thông tin chi tiết*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Thông tin chi tiết</p>


                            <div class="row border-bottom p-2 ">
                                <div class="col-md-8">Thương hiệu </div>
                                <div class="col-md-4 border-start">ABCXYZ</div>
                            </div>
                            <div class="row border-bottom p-2 ">
                                <div class="col-md-8">Xuất xứ </div>
                                <div class="col-md-4 border-start">Việt Nam</div>
                            </div>
                            <div class="row border-bottom p-2 ">
                                <div class="col-md-8">Năm sản xuất </div>
                                <div class="col-md-4 border-start">2023</div>
                            </div>
                            <div class="row border-bottom p-2 ">
                                <div class="col-md-8">Bảo hành </div>
                                <div class="col-md-4 border-start">24 tháng</div>
                            </div>
                            <div class="row border-bottom  p-2 ">
                                <div class="col-md-8">Khối lượng </div>
                                <div class="col-md-4 border-start">25kg</div>
                            </div>



                        </div>

                        @*Store*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Thông tin người bán</p>


                            <div class="d-flex gap-2">

                                <div class=" d-flex align-items-center justify-content-center">
                                    <img src="~/Assets/tiki_store.jpg" class="rounded-circle" width="40" height="40" />
                                </div>

                                <div class="d-flex flex-column">
                                    <p class="main-title m-0">Tiki Trading <span class="badge rounded-pill bg-main-blue ms-1">Official</span></p>
                                    <p class="m-0"><span class="main-blue-color fw-bold">20</span> sản phẩm</p>
                                </div>

                            </div>



                        </div>

                        @*Mô tả SP*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Mô tả sản phẩm</p>


                            <div>
                                <p class="lh-lg ">
                                    Bạn đang sở hữu một cửa hàng, nhưng chưa biết cách quản lý?

                                    Làm sao để kinh doanh cửa hàng hiệu quả và sinh lời như ý?

                                    Trong thời đại công nghệ 4.0, việc làm chủ một cửa hàng không chỉ đòi hỏi bạn phải am hiểu tâm lý con người, nhân viên và khách hàng, lựa chọn địa điểm thích hợp, trang trí không gian trưng bày bắt mắt, mà còn phải biết cách marketing quảng bá trên các kênh truyền thông để tăng thêm độ tin cậy cho sản phẩm.

                                    Tất tần tật các bí quyết “siêu hay” để quản lý cửa hàng truyền thống offline và online đều nằm trong GIAO CHO BẠN MỘT CỬA HÀNG, QUẢN LÝ THẾ NÀY MỚI MAU GIÀU!
                                </p>
                            </div>



                        </div>

                        @*COMMENT*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4">
                            <p class="main-title">Nội dung đánh giá</p>
                            <div class="row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="card shadow-0 border bg-content-body">
                                        <div class="card-body p-4">
                                            <div class="form-outline mb-4">
                                                <textarea class="form-control" rows="4" placeholder="Nhập nội dung bình luận ..."
                                                          style="background: #fff;"></textarea>
                                                <button type="button" class="btn btn-primary bg-main-blue btn-sm my-2">Gửi đánh giá</button>

                                            </div>

                                            <div class="card mb-4 mx-0">
                                                <div class="card-body">
                                                    <p>Type your note, and hit enter to add it</p>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                                                 height="25" />
                                                            <p class="small mb-0 ms-2">Martha</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <p class="small text-muted mb-0">22/10/2023 12:00:00</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-4 mx-0">
                                                <div class="card-body">
                                                    <p>Type your note, and hit enter to add it</p>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                                                 height="25" />
                                                            <p class="small mb-0 ms-2">Martha</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <p class="small text-muted mb-0">22/10/2023 12:00:00</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>


        </div>

        <div class="col-md-2 col-12 bg-white p-3 rounded-4
             " style="height: fit-content;">
            <p>Số lượng</p>
            <div class="input-group my-2 flex-nowrap justify-content-center">
                @*  <span class="input-group-btn">
                        <button class="btn btn-danger" id="decrement" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                    </span>
                    <input type="number" class="form-control " readonly id="quantity" value="1">
                    <div class="form-outline">
                        <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />

                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="increment" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
                    </span>*@


                <button class="btn btn-primary me-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                </button>

                <div class="form-outline">
                    <input id="form1" min="0" name="quantity" value="1" readonly type="number" class="form-control text-center" />

                </div>

                <button class="btn btn-primary ms-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="my-4">
                <p class="main-title">Tổng tạm tính  <span class="fs-3 fw-bolder main-blue-color">119.998 <sup>₫</sup></span> </p>

            </div>

            <button class="w-100 btn btn-primary bg-main-blue">Thêm vào giỏ hàng</button>
        </div>

    </div>


</div>




@*<script>
        document.addEventListener("DOMContentLoaded", function () {
            const quantityInput = document.getElementById("quantity");
            const incrementButton = document.getElementById("increment");
            const decrementButton = document.getElementById("decrement");

            incrementButton.addEventListener("click", function () {
                let currentQuantity = parseInt(quantityInput.value);
                if (!isNaN(currentQuantity)) {
                    if (currentQuantity < 10) {
                        currentQuantity++;
                    }
                    quantityInput.value = currentQuantity;
                }
            });

            decrementButton.addEventListener("click", function () {
                const currentQuantity = parseInt(quantityInput.value);
                if (!isNaN(currentQuantity) && currentQuantity > 1) {
                    quantityInput.value = currentQuantity - 1;
                }
            });
        });
    </script>*@