@{
    ViewBag.Title = "Home Page";
}
<link />



<div class="d-flex flex-column flex-md-row py-4 justify-content-between gap-2 my-2 my-md-0">

    <div class="col-md-2 bg-white rounded-4 p-4">
        <p class="main-title">Danh Mục</p>

        <div class="row">
            <div class="col-md-12 col-4 mb-4 cate-item main-hover">
                <img class="rounded-2" src="~/Assets/qr_app.png" width="32" height="32" />
                <span class="cate-title">Đồ chơi</span>
            </div>
            <div class="col-md-12 col-4 mb-4 cate-item main-hover">
                <img class="rounded-2" src="~/Assets/qr_app.png" width="32" height="32" />
                <span class="cate-title">Đồ chơi</span>
            </div>
            <div class="col-md-12 col-4 mb-4 cate-item main-hover">
                <img class="rounded-2" src="~/Assets/qr_app.png" width="32" height="32" />
                <span class="cate-title">Đồ chơi</span>
            </div>
            <div class="col-md-12 col-4 mb-4 cate-item main-hover">
                <img class="rounded-2" src="~/Assets/qr_app.png" width="32" height="32" />
                <span class="cate-title">Đồ chơi</span>
            </div>

        </div>
    </div>

    <div class="col-md-10 bg-white rounded-4  p-4">
        @*BANNER*@

        <div class="d-flex flex-column flex-md-row gap-2">
            <img class="rounded-4 h-auto ratio-1x1 object-fit-cover w-50" src="~/Assets/vinamilk_banner.png" />


        </div>


    </div>

</div>
