
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist" >
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Đơn hàng</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-invoices-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-invoices" aria-selected="false">Hóa đơn</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
    </li>
</ul>   


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active container d-flex flex-column flex-md-row align-items-center gap-2" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"  >
        <div class="card  flex-md-row  align-items-center" style="width: fit-content">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-thumbnail" width="150" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Iphone 15 Pro Max</h5>
                <p class="card-text">15.000.000 <sup>đ</sup></p>
                <p class="card-text">23/10/2023</p>
                <a href="#!" class="btn btn-danger">Hủy đơn hàng</a>
            </div>
        </div>

        <div class="card  flex-md-row  align-items-center" style="width: fit-content">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-thumbnail" width="150" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Iphone 15 Pro Max</h5>
                <p class="card-text">15.000.000 <sup>đ</sup></p>
                <p class="card-text">23/10/2023</p>
                <a href="#!" class="btn btn-danger">Hủy đơn hàng</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-invoices" role="tabpanel" aria-labelledby="pills-invoices-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
